<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.TbItemMapper">
	<resultMap id="BaseResultMap" type="com.shop.pojo.TbItem">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="title_desc" jdbcType="VARCHAR" property="titleDesc" />
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="updated" jdbcType="TIMESTAMP" property="updated" />
	</resultMap>


	<select id="queryItemList" parameterType="com.shop.pojo.TbItem"
		resultMap="BaseResultMap">
		select * from TbItem
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		TbItem
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.shop.pojo.TbItem">
		insert into TbItem (id, name,
		title_desc,
		created, updated)
		values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{titleDesc,jdbcType=VARCHAR},
		#{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.shop.pojo.TbItem">
		update TbItem
		set
		id = #{record.id,jdbcType=INTEGER},
		name =
		#{record.name,jdbcType=VARCHAR},
		title_desc =
		#{record.titleDesc,jdbcType=VARCHAR},
		created =
		#{record.created,jdbcType=TIMESTAMP},
		updated =
		#{record.updated,jdbcType=TIMESTAMP}

	</update>
</mapper>